/*
  CONTENT
  -------
*/

.content {
  margin: 20px auto;
  flex: 1;
  display: flex;
}

.recipe > img {
  height: 600px;
  width: 600px;
}

.recipe-title {
  font-size: 24px;
}

.related {
  margin-left: 60px;
}

.related h3 {
  margin-top: 0;
}

.related-drink {
  display: flex;
  margin: 10px 0;
}

.related-drink img {
  height: 100px;
  width: 100px;
}

.related-drink .drink-info {
  margin-left: 5px;
}

.related-drink .drink-info div {
  margin-top: 5px;
  width: 200px;
  line-height: initial;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment {
  display: flex;
}
